body {
    background-color: #F2F2F2;
}

.movements {
    font-family: 'Montserrat', sans-serif;
    color: #595959;
    overflow-x: scroll;
    font-size: 14px;

}

.sectionMovements {
    display: flex;
    align-items: center;
   
}