body {
  background-color: #f2f2f2;
}

.movements {
  font-family: "Montserrat", sans-serif;
  color: #595959;
  overflow-x: scroll;
  font-size: 14px;
}

.welcomeMovements {
  background:#F2F2F2;
  width: 100%;
  height: 9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #595959;
  overflow-x: scroll;
}

.movementsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -1.8em;
  align-items: center;
}

.prueba {
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
}
.titleMovements {
  font-size: 21px;
  text-align: center;
}