body {
  background-color: #f2f2f2;
}

.welcomeRequests {
  background-image: url("../img/backgroundHelp.png");
  width: 100%;
  height: 13em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.requests {
  font-family: "Montserrat", sans-serif;
  color: #595959;
  overflow-x: scroll;
  font-size: 14px;
}

.pruebaRequests {
  display: flex;
  justify-content: space-between;
}

.infoRequests {
  display: flex;
  align-items: center;
}
