.requests {
  font-family: "Montserrat", sans-serif;
  color: #595959;
  overflow-x: scroll;
  font-size: 14px;
}

.sectionRequests {
  margin-top: 1em;
  margin-bottom: 70px;
}

.divRequest {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dadada;
  padding: 1em;
}

.infoRequest {
  display: flex;
  flex-direction: column;
}

.statusRequest {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  width: 112px;
}

.noSolicitud {
  font-weight: bold;
}

.noSolitudDiv {
  font-size: 10px;
}

.infoDetails {
  margin-bottom: 0.5em;
  font-size: 12px;
}

.infoDate {
  font-size: 11px;
  color: #ccc;
}

.iconStatus {
  height: 2em;
  margin-right: 0.3em;
}

.iconCheck {
  height: 1.6em;
}