.topbar {
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #00BAA4;
    display: flex;
    align-items: center;
}

.logo {
    position: absolute;
    left: 50%;
    width: 72px;
    margin-left: -36px;
}

.squareMenu {
    position: absolute;
    right: 1em
}